## ide
**/.idea
*.iml
rebel.xml

## backend
**/target
**/logs

## front
**/*.lock
/hs_err_pid328.log
/hs_err_pid10148.log
/hs_err_pid12860.log
/hs_err_pid13068.log
/replay_pid328.log
/replay_pid10148.log
/replay_pid12860.log
/replay_pid13068.log
